DATABASE_URL=postgresql://postgres:PASSWORD@db.fmzbuhyguxgxodymmojm.supabase.co:5432/postgres
SUPABASE_URL=https://fmzbuhyguxgxodymmojm.supabase.co
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
FERNET_KEY=
MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_AUTHORITY=https://login.microsoftonline.com/organizations
CORS_ALLOW_ORIGINS=http://localhost:3000
